/*todo============================================================
/*todo                Configuraciones Basicas
/*todo==========================================================*/

:root{
    --color-2: #D9CCC1;
    --color-3: #730202;
    --color-4: #BF0B0B;
    --color-5: #1b1a1a;
    --color-blanco: #ffffff;
    --color-negro: #1a1919;
}
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /*! SCROLL*/

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}

body{
    background-color: var(--color-5);
    max-width: 100dvw;
    color: #ffffff;
    overflow-x: hidden;
}

/*todo============================================================
/*todo                HEADER
/*todo==========================================================*/

header{
    position: fixed;
    top: 0;
    z-index: 1000;
    color: var(--color-blanco);
    background-color: var(--color-3);
    padding: 0;
    text-align: center;
    width: 100dvw;
    height: 60px;
    max-height: 60px;
    align-items: center;
    overflow: hidden;
    font-size: 1em;
    display: flex;

}
header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: opacity(0.7);
    pointer-events: none;
}
header ul{
    width: 100dvw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}
header ul a:not(:hover){
    text-decoration: none;
}
header ul a{
    color: var(--color-blanoc);
    display: flex;
    justify-content: center;
    align-items: center;
}

#select{
    background-color: var(--color-4);
    border-radius: 0 0 10px 10px;
    height: 100%;
    z-index: 10;
    position: absolute;
    mix-blend-mode: lighten;
    transition: left 0.6s ease, width 0.6s ease;
}


/*todo============================================================
/*todo                MAIN
/*todo==========================================================*/

main{
    display: flex;
    width: 100dvw;
    scroll-snap-type: x mandatory;
    padding: 60px 0 0 0;
    max-height: 100dvh
}

/*?============================================================
/*?                SECTION
/*?==========================================================*/

section{
    width: 100dvw;
    scroll-snap-align: center;
    flex: 0 0 100dvw;
    padding: 50px 0 0 0;
}


/*?============================================================
/*?                HORA
/*?==========================================================*/
#hora{
    height: calc(100dvh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 5% 5% 5% ;
    gap: 10%;
}
.relojes{
    aspect-ratio: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--color-4);
    border-radius: 50%;
    gap: 5px;
}
.temporizadorReloj,.cronometroReloj{
    font-size: 18px
}
.hora{
    font-size: 3em;
}
.fecha{
    font-size: 14px;
}
#zonaHoraria{
    background-color: var(--color-5);
    border-radius: 40px;
    color: var(--color-blanco);
    text-align: center;
}


/*?============================================================
/*?                TEMPORIZADOR
/*?==========================================================*/
#temporizador, #cronometro, #alarma{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2%;
    overflow-y: auto;
}
.botonesContainer{
    margin: 10px;
    height: 30px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
}
.botones{
    border-radius: 10px;
    padding: 3px 5px;
    background-color: var(--color-4);
    color: var(--color-blanco);
    outline: none;
    border: none;
    box-shadow: 0 0 10px 2px var(--color-3);
}
.botones:active{
    background-color: var(--color-3);
}
.numberInput{
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: 2px solid var(--color-4);
    color: var(--color-4);
}
#addTemporizador{
    display: flex;
    flex-wrap: wrap;
    max-width: 60dvw;
    gap: 10px;
}
#addTemporizador *{
    flex: 1 0 30%;
}
#addTemporizador *:last-child{
    flex: 1 0 100%;
}
.temporizadorHistorial, .cronometroHistorial{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.temporizadorList, .historialList{
    display: flex;
    flex-wrap: wrap;
    max-width: 80dvw;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0 0 20px 0;
}
.temporizadotItem{
    background-color: var(--color-3);
    flex: 1 0 48%;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.temporizadotItem *{
    flex: 1 0 20%;
}
.temporizadotItem *:first-child{
    flex: 1 0 100%;
    display: flex;
    align-items: center;   
    justify-content: center;
    text-align: center;
}


/*?============================================================
/*?                CRONOMETRO
/*?==========================================================*/
.cronometroHeader{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.temporizadorGuardado{
    background-color: var(--color-3);
    flex: 1 0 40%;
    min-width: 27dvw;
    padding:  10px 10px 25px 10px;
    border-radius: 10px;
    display: flex;
    position: relative;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.temporizadorGuardado .botones{
    position: absolute;
    right: 5px;
    bottom: 5px;
}


/*?============================================================
/*?                ALARMA
/*?==========================================================*/

#addAlarma{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #730202;
    padding: 20px;
    border-radius: 20px;
    width: 80dvw;
    text-align: center;
}
.horas{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 10px;
}
.horas>input{
    flex: 1 0 40%;
}

#addAlarma>h2{
    margin: 10px 0 -5px 0;
}
.dias{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.dias input[type='checkbox']{
    display: none;
}
.dias label{
    background-color: var(--color-3);
    padding: 5px 10px;
    border-radius: 5px 10px;
    box-shadow: 0 0 20px 0 #0d0d0d73;
}
.dias label:has(+input:checked){
    background-color: var(--color-4);
}

#addAlarma>input{
    width: 100%;
}


#listaAlarmas{
    display: flex;
}
#listaAlarmas{
    display: flex;
    flex-wrap: wrap;
    max-width: 80dvw;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 0 0 20px 0;
}
.alarmaItem{
    background-color: var(--color-3);
    flex: 1 0 50%;
    min-width: 27dvw;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}
.alarmaItem p{
    width: 60%;
    word-wrap: normal;
}
.removeAlarma{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
}
